// Navigation ———————————————————————————————— •
// ——————————————————————————————————————————— •

.nav {
  line-height: 1.25em;
  margin: 1.5rem auto 1rem;
  position: relative;
  max-width: 960px;
  width: 100%;
}

.nav-logo {
  @include transition(all .2s ease);
  font-size: 1.5rem;
  letter-spacing: -1px;
  line-height: .8rem;
  margin-bottom: .5rem;

  a {
    @include transition(all .2s ease);
    background: url('/assets/images/icons/video.png') 8.2rem .4rem no-repeat;
    background-size: 26px 16px;
    display: block;
    color: #555;
    padding: .5rem 0 .1rem;

    &:hover {
      background-position: 8.5rem .4rem;
      color: $color-green;
    }
  }
}

.nav-list {
  position: absolute;
  top: .15rem;
  right: 0;
}

.nav-link {
  display: inline-block;

  a {
    @include border-radius(3px);
    background-color: $color-green;
    color: white;
    font-size: .75rem;
    padding: .4rem .75rem;
  }

  i { display: none; }
}

.nav-info {
  @include transition(all .2s ease);
  color: #666;
  font-family: $font-tisa;
  font-size: .9rem;
  font-style: italic;
  font-weight: normal;
  line-height: 1.2em;
  margin-top: .75rem;
  overflow: hidden;
}


// Navigation: Tablet ———————————————————————— •
// ——————————————————————————————————————————— •

@include responsive-break-point(641px) {
  .nav {
    @include clearfix;
    margin: 3rem auto 2rem;
  }

  .nav-logo {
    font-size: 2.1rem;
    margin-bottom: .75rem;
    width: 15rem;

    a {
      background-size: 40px 25px;
      background-position: 13rem .6rem;
      display: block;
      margin: -1rem;
      padding: 1rem;

      &:hover {
        background-position: 13.25rem .6rem;
      }
    }
  }

  .nav-links {
    float: right;
    height: 1.75rem;
    margin-left: 1rem;
    width: 20rem;
  }

  .nav-list {
    position: absolute;
    right: 0;
    top: 2.5rem;
    width: 20rem;
  }

  .nav-link {
    display: inline-block;
    font-size: .95rem;

    a {
      @include transition(all .2s ease);
      @include border-radius(0);
      background-color: transparent;
      border-bottom: 1px solid white;
      color: #666;
      font-size: .9rem;
      font-weight: bold;
      padding: 0;

      i {
        display: inline;
        font-style: normal;
      }

      &:visited { color: #666; }
      &:hover {
        border-bottom-color: rgba(93, 194, 14, .5);
        color: $color-green;
      }
      &:active { color: #666; }
    }

    &:last-child:before {
      color: #666;
      content: '/ ';
    }
  }

  .nav-info {
    display: inline;
    font-size: 1rem;
    line-height: 1em;

    a {
      margin: -.5rem;
      padding: .5rem;
    }
  }
}


// Navigation: Desktop ——————————————————————— •
// ——————————————————————————————————————————— •

@include responsive-break-point(740px) {
  .nav-list { top: 2.9rem; }

  .nav-info {
    font-size: 1.3rem;
    line-height: 1.2em;
  }
}