<header class="nav" role="banner">
  <h1 class="nav-logo"><a href="/">Humble Pied</a></h1>

  <nav class="nav-links">
    <ul class="nav-list">
      <li class="nav-link"><a href="/" title="All interviews. Keyboard shortcut: H">All<i> interviews</i></a></li>
      <li class="nav-link"><a href="/about" title="About Humble Pied. Keyboard shortcut: A">About<i> this project</i></a></li>
    </ul>
  </nav>

  <h2 class="nav-info">Inspiring makers sharing one piece of advice, all over video chat.</h2>
</header>