<!--


A very special thanks to the talented people who took
the time to share their advice, and their experiences.


Mig Reyes, @migreyes
http://mig.io



-->

<!DOCTYPE html>
<html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  {% if page.layout == "interview" %}
    <title>Advice by {{ page.title }} on {{ site.title }}</title>
  {% else %}
    <title>Inspirational advice on {{ site.title }}</title>
  {% endif %}
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">
  <link rel="icon" type="image/gif" href="/assets/icons/favicon.gif" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="/assets/javascript/jquery.hammer.js"></script>
  <script type="text/javascript" src="http://use.typekit.com/iov8jns.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script src="/assets/javascript/humblepied.js"></script>
  <script type="text/javascript">(function(e,t,n,r,i,s,o){e["GoogleAnalyticsObject"]=i;e[i]=e[i]||function(){(e[i].q=e[i].q||[]).push(arguments)},e[i].l=1*new Date;s=t.createElement(n),o=t.getElementsByTagName(n)[0];s.async=1;s.src=r;o.parentNode.insertBefore(s,o)})(window,document,"script","//www.google-analytics.com/analytics.js","ga");ga("create","UA-43019362-2","humblepied.com");ga("send","pageview")</script>
</head>