<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  {% if page.layout == "interview" %}
    <title>Advice by {{ page.title }} with Mig Reyes on {{ site.title }}</title>
  {% else %}
    <title>Inspirational advice on {{ site.title }}</title>
  {% endif %}
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">
  <link rel="icon" type="image/gif" href="/assets/favicon.gif" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script type="text/javascript" src="http://use.typekit.com/iov8jns.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script src="/assets/javascript/scripts.js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-3655324-3']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>