// About ————————————————————————————————————— •
// ——————————————————————————————————————————— •

.about { @include animate(fade-in .5s .2s both); }

.blurb {
  margin-bottom: 2em;

  h2 {
    font-family: $font-sectra;
    margin-bottom: .5em;
    margin-top: 1em;
  }

  p {
    line-height: 1.25em;
    margin-bottom: 1rem;

    a { text-decoration: underline; }
  }
}


// About: Tablet ————————————————————————————— •
// ——————————————————————————————————————————— •

@include responsive-break-point(641px) {
  .blurb {
    margin-bottom: 3em;
    max-width: 600px;

    h2 {
      font-size: 1.25rem;
      font-family: $font-fakt;
      letter-spacing: -.05rem;
      margin-bottom: .75rem;
    }

    p { line-height: 1.5em; }
  }
}