// Home —————————————————————————————————————— •
// ——————————————————————————————————————————— •

.guests {
  @include animate(fade-in .5s .2s both);
  margin: 0 auto;
  text-align: center;
  max-width: 960px;
  width: 100%;
}

.guest-preview {
  @include transition(all .2s ease);
  display: block;
  margin-bottom: 2rem;
  width: 100%;
}

.guest-preview-photo {
  @include backface-visibility;
  width: 100%;

  img {
    height: auto;
    width: 100%;
  }
}

.guest-preview-quote {
  @include backface-visibility;
  color: #666;
  font-family: $font-tisa;
  line-height: 1.2em;
}

.guest-layout-options { display: none; }


// Home: Mobile Portrait ————————————————————— •
// ——————————————————————————————————————————— •

@include responsive-break-point(321px) {

  .guest-preview {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 45%;

    &:nth-child(odd) { margin-right: 1rem; }
  }
}


// Home: Mobile Portrait ————————————————————— •
// ——————————————————————————————————————————— •

@include responsive-break-point(641px) {

  .guest-preview {
    margin: 0 2rem 3rem 0;
    width: 30%;

    &:nth-child(3n+3) { margin-right: 0; }
  }

  .guest-preview-quote { font-size: 1.2rem; }

  .guest-preview-quote-only {
    @include animate(fade-in .5s .2s both);
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    width: 75%;

    img { display: none; }

    figcaption {
      font-size: 1em;
      margin-top: 2em;
      text-decoration: underline;
    }

    .guest-preview-quote {
      @include transition(color .5s ease);
      font-size: 3rem;
      letter-spacing: -1px;
      line-height: 1em;
      margin-bottom: 1em;

      &:hover { color: #111; }

      &:before {
        color: $color-green;
        content: "“";
        padding-right: .1em;
      }

      &:after {
        color: $color-green;
        content: "”";
      }
    }
  }

  .guest-layout-options {
    display: block;
    margin: 0 auto;
    padding: 2em 0;
    text-align: center;
    width: 100%;

    a {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}