// Interview ————————————————————————————————— •
// ——————————————————————————————————————————— •

.guest {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}

.guest-header {
  display: none;

  h3,
  .guest-nav-pagination {
    color: $color-green;
    font-size: .7rem;
    font-weight: bold;
    margin-bottom: .5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  h4,
  .guest-nav-link p {
    font-family: $font-tisa;
    font-size: .8rem;
    font-weight: normal;
  }
}

.guest-nav-link {
  display: inline-block;

  a {
    @include border-box;
    background: white;
    display: block;
    padding: .75rem;

    p {
      @include transition(all .2s ease);
      color: #666;
    }

    &:hover {
      background: rgba(93, 194, 14, .2);

      p { color: $color-green; }
    }
  }
}
.guest-nav-pagination { display: block; }

.guest-presentation {
  @include animate(fade-in-up .5s .5s both);

  hr { display: none; }
}

.guest-video { margin-bottom: 1rem; }
.guest-video-embed {
  background-color: white;
  height: 0;
  padding-bottom: 80%;
  overflow: hidden;
  position: relative;

  iframe {
    background-color: white;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
.guest-video-aspect-vertical { padding-bottom: 80.5%; }
.guest-video-aspect-horizontal { padding-bottom: 79.15%; }

.guest-info {

  h5,
  h6 {
    color: $color-green;
    font-family: $font-tisa;
    font-size: .7rem;
    letter-spacing: 3px;
    margin-bottom: .5rem;
    text-transform: uppercase;
  }

  ul { margin-bottom: 2rem; }

  li {
    font-size: .9rem;
    line-height: 1.2rem;
    list-style: none;
  }

  figure { width: 50%; }

  img {
    height: auto;
    width: 100%;
  }
}
.guest-info-bio {
  font-size: .9rem;
  line-height: 1.2rem;
  margin-bottom: 2rem;
}
.guest-info-website:before { content: 'Website, '}
.guest-info-twitter:before { content: 'Twitter, '}
.guest-info-length {
  font-size: .8rem;
  margin-bottom: .5rem;
}
.guest-info-tweet { display: none; }

.guest-quote {
  @include animate(fade-in 1s .5s both);
  font-family: $font-tisa;
  font-size: 2.25rem;
  letter-spacing: -.15rem;
  line-height: 1em;
  margin: 4rem auto;
  padding-left: .35rem;
  position: relative;

  &:before {
    color: $color-green;
    content: '“';
    left: -.75rem;
    position: absolute;
    top: -.5rem;
  }
}

.guest-footer {
  margin-bottom: 2rem;

  .guest-nav-link {
    vertical-align: top;
    text-align: center;
    width: 49%;
  }

  .guest-nav-pagination {
    display: inline-block;
    margin-bottom: .25rem;
  }
}


// Interview: Tablet ————————————————————————— •
// ——————————————————————————————————————————— •

@include responsive-break-point(641px) {
  .guest-header {
    display: block;
    margin-bottom: 1rem;
    min-height: 2rem;
    position: relative;
    width: 100%;
  }

  .guest-nav {
    display: block;
    position: absolute;
    right: .75rem;
    top: -.75rem;
    width: 20rem;
  }
  .guest-nav-link { width: 9.5rem; }
  .guest-nav-link a { @include transition(all .25s ease); }

  .guest-presentation {
    @include clearfix;
    position: relative;

    hr {
      border: none;
      display: block;
      float: right;
      margin: 0 0 0 1rem;
      min-height: 1rem;
      width: 20rem;
    }
  }

  .guest-video {
    height: auto;
    margin-bottom: 0;
    overflow: hidden;
    max-width: 612px;
  }

  .guest-info {
    position: absolute;
    right: 0;
    top: 1.5rem;
    width: 20rem;

    figure {
      margin-bottom: .5em;
      margin-top: 1.5em;
      max-width: 150px;
    }

    p + p {
      margin-top: .75em;
    }
  }
  .guest-info-tweet {
    display: block;
    margin-top: 1rem;
  }

  .guest-quote {
    font-size: 4.5rem;
    margin-top: 3rem;
    padding: 0;

    &:before {
      left: -2.25rem;
      top: -.5rem;
    }
  }

  .guest-footer { display: none; }
}


// Interview: Desktop ———————————————————————— •
// ——————————————————————————————————————————— •

@include responsive-break-point(740px) {
  .guest-header h3,
  .guest-header h4 { display: block; }
}