// Reset & Mixins ———————————————————————————— •
// ——————————————————————————————————————————— •

@import
  'globals/mixins',
  'globals/reset',
  'globals/fonts',
  'globals/animations';


// Base Styles ——————————————————————————————— •
// ——————————————————————————————————————————— •

body {
  @include border-box;
  @include font-smoothing(antialiased);
  color: #666;
  font-family: $font-fakt;
  padding: 0 20px;
}

a {
  @include transition(color .2s ease);
  color: $color-green;
  text-decoration: none;

  &:hover { text-decoration: none; }
}

.content {
  position: relative;
  margin: 0 auto;
  max-width: 960px;
}


// Base Styles: Mobile Portrait —————————————— •
// ——————————————————————————————————————————— •

@include responsive-break-point(321px) {
  body { padding: 0 2rem; }
}


// Base Styles: Mobile Landscape ————————————— •
// ——————————————————————————————————————————— •

@include responsive-break-point(641px) {
  body { padding: 0 3rem; }
}


// Fix: iOS Font Sizing —————————————————————— •
// ——————————————————————————————————————————— •

@media screen and (max-device-width: 480px) {
  html {
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
  }
}


// Components ———————————————————————————————— •
// ——————————————————————————————————————————— •

@import
  'components/navigation',
  'components/footer';


// Pages ————————————————————————————————————— •
// ——————————————————————————————————————————— •

@import
  'pages/index',
  'pages/interview',
  'pages/about';