@import "mixins";

body.about #content { @include animate(fade-in .5s .2s both); }

body.about section {

  h2 { font-family: $font-tisa; }

  p { margin-bottom: 1rem; }
}

#about-nav {

  ul { list-style: none; }
}

#about {
  width: 100%;
}

// --------------------------- *
@include responsive-break-point(641px) {

  body.about section {

    h2 {
      font-size: 1.5rem;
      letter-spacing: -.05rem;
      margin-bottom: .5rem;
    }

    p {
      line-height: 1.5em;
    }
  }

  #about-nav {
    padding: 0 0 1rem;
    margin-bottom: 1rem;
    position: relative;
    text-align: center;
    width: 100%;

    ul {
      background: white;
      padding: 1rem;
      left: 0;
      top: 0;
      width: 100%;
    }

    li {
      display: inline-block;
      margin: 0 1rem;
    }
  }

  #about {
    margin-bottom: 2rem;
  }
}