@import "mixins";

body.about #content { @include animate(fade-in .5s .2s both); }

body.about section {

  h2 { font-family: $font-tisa; }

  p { margin-bottom: 1rem; }
}

#about {
  width: 100%;
}

// --------------------------- *
@include responsive-break-point(641px) {

  body.about section {
    margin-bottom: 4em;
    max-width: 600px;

    h2 {
      font-size: 1.25rem;
      font-family: $font-dagny;
      letter-spacing: -.05rem;
      margin-bottom: .75rem;
    }

    p {
      line-height: 1.5em;
    }
  }
}