@import "mixins";

#guests {
  @include animate(fade-in .5s .2s both);
  margin: 0 auto;
  max-width: 960px;
  text-align: center;
  width: 100%;
}

.guest-preview {
  @include transition(all .2s ease);
  display: block;
  margin-bottom: 2rem;
  width: 100%;

  figure {
    @include backface-visibility;
    width: 100%;

    img {
      height: auto;
      width: 100%;
    }
  }
}

#layout-toggle { display: none; }

.guest-preview-quote {
  @include backface-visibility;
  color: #666;
  font-family: $font-tisa;
  line-height: 1.2em;
}

// --------------------------- *
@include responsive-break-point(321px) {

  .guest-preview {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 45%;

    &:nth-child(odd) { margin-right: 1rem; }
  }
}

// --------------------------- *
@include responsive-break-point(641px) {

  #layout-toggle {
    cursor: pointer;
    display: block;
    left: -4em;
    position: absolute;
    top: -4em;
  }

  .guest-preview {
    margin: 0 2rem 3rem 0;
    width: 30%;

    .guest-preview-quote { font-size: 1.2rem; }

    &:nth-child(3n+3) { margin-right: 0; }
  }

  .guest-preview.with-quote-only {
    @include animate(fade-in .5s .2s both);
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    width: 75%;

    img { display: none; }

    figcaption {
      font-size: 1em;
      margin-top: 2em;
      text-decoration: underline;
    }

    .guest-preview-quote {
      @include transition(color .5s ease);
      font-size: 3rem;
      letter-spacing: -1px;
      line-height: 1em;
      margin-bottom: 1em;

      &:hover { color: #111; }

      &:before {
        color: $color-green;
        content: "“";
        padding-right: .1em;
      }

      &:after {
        color: $color-green;
        content: "”";
      }
    }
  }
}

// // --------------------------- *
// @include responsive-break-point(1140px) {
//   body.home #content { max-width: 1400px; }

//   .guest-preview {
//     width: 20%;

//     &:nth-child(4n+4) { margin-right: 0; }
//   }
// }