@import "mixins";

#guests {
  margin: 0 auto;
  max-width: 960px;
  text-align: center;
  width: 100%;
}

.guest-preview {
  display: block;
  margin-bottom: 2rem;
  width: 100%;

  figure {
    width: 100%;

    img {
      height: auto;
      width: 100%;
    }
  }
}

.guest-preview-quote {
  color: #666;
  font-family: $font-tisa;
  line-height: 1.2em;
}

// --------------------------- *
@include responsive-break-point(321px) {

  .guest-preview {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 45%;

    &:nth-child(odd) { margin-right: 1rem; }
  }
}

// --------------------------- *
@include responsive-break-point(641px) {

  .guest-preview {
    margin: 0 1.5rem 2rem 0;
    width: 30%;

    .guest-preview-quote {
      color: #666;
      font-family: $font-tisa;
      font-size: 1.2rem;
    }

    &:nth-child(3n+3) { margin-right: 0; }
  }
}