@import "reset";
@import "mixins";

body {
  @include border-box;
  @include font-smoothing(antialiased);
  color: #666;
  font-family: $font-dagny;
  padding: 0 20px;
}

a {
  @include transition(all .2s ease);
  color: $color-green;
  text-decoration: none;

  &:hover { text-decoration: none; }
}

#site-header,
#site-footer {
  line-height: 1.25em;
  max-width: 960px;
  width: 100%;
}

#site-header {
  margin: 2rem auto;

  h1 {
    font-size: 2.1rem;
    letter-spacing: -.1rem;
    line-height: 1rem;

    a { color: #555; }
    a:hover { color: $color-green; }
  }

  h2 {
    color: #666;
    font-family: $font-tisa;
    font-size: 1.3rem;
    font-style: italic;
    font-weight: normal;

    a { text-decoration: underline; }
    a:hover { color: #333; }
  }
}

#site-footer {
  text-align: center;

  a:hover { color: #333; }

  .footer-home { font-weight: bold; }
  :not(.footer-home) { text-decoration: underline; }
}

// --------------------------- *
@include responsive-break-point(640px) {
  #site-header {
    margin-bottom: 3rem;

    h1 {
      margin: -.5rem 0 0 -1rem;

      a {
        display: inline-block;
        padding: 1rem;
      }
    }
  }

  #site-footer {
    margin: 2rem auto;

    ul { margin-bottom: .5rem; }

    li { display: inline-block; }
    li:last-child:before {
      content: ' / ';
      color: #999;
    }
  }
}

@import "all";
@import "interview";
@import "about";