@import "reset";
@import "mixins";

body {
  @include border-box;
  @include font-smoothing(antialiased);
  color: #666;
  font-family: $font-dagny;
  padding: 0 20px;
}

a {
  @include transition(color .2s ease);
  color: $color-green;
  text-decoration: none;

  &:hover { text-decoration: none; }
}

#site-header,
#site-footer {
  line-height: 1.25em;
  max-width: 960px;
  width: 100%;
}

#site-header {
  margin: 1.5rem auto 1rem;

  h1 {
    @include transition(all .2s ease);
    font-size: 1.5rem;
    letter-spacing: -1px;
    line-height: .8rem;
    margin-bottom: .5rem;

    a {
      @include transition(all .2s ease);
      background: url('/assets/images/icons/video.png') 8.2rem .4rem no-repeat;
      background-size: 26px 16px;
      display: block;
      color: #555;
      padding: .5rem 0 .1rem;


      &:hover {
        background-position: 8.5rem .4rem;
        color: $color-green;
      }
    }
  }

  h2 {
    @include transition(all .2s ease);
    color: #666;
    font-family: $font-tisa;
    font-size: .9rem;
    font-style: italic;
    font-weight: normal;
    line-height: 1.2em;

    a { text-decoration: underline; }
    a:hover { color: #333; }
  }
}

#site-footer {
  font-size: .8rem;
  margin-bottom: 2rem;
  text-align: center;

  a:hover { color: #333; }

  .footer-home { font-weight: bold; }
  :not(.footer-home) { text-decoration: underline; }
}

// --------------------------- *
@include responsive-break-point(321px) {

  body { padding: 0 2rem; }
}

// --------------------------- *
@include responsive-break-point(641px) {
  body { padding: 0 3rem; }

  #site-header {
    margin: 2rem auto;

    h1 {
      font-size: 2.1rem;
      margin-bottom: .75rem;

      a {
        background-size: 40px 25px;
        background-position: 13rem .6rem;
        display: block;
        margin: -1rem;
        padding: 1rem;

        &:hover {
          background-position: 13.5rem .6rem;
        }
      }
    }

    h2 {
      font-size: 1.3rem;
      line-height: 1.2em;

      a {
        margin: -.5rem;
        padding: .5rem;
      }
    }
  }

  #site-footer {
    font-size: 1rem;
    margin: 2rem auto;

    a {
      margin: -.5rem;
      padding: .5rem;
    }
  }
}

@import "all";
@import "interview";
@import "about";