{% include head.html %}
  <body class="interview">
    {% include navigation.html %}

    <div class="content" data-swipeable>
      <section class="guest">

        <header class="guest-header">
          <h3>{{ page.title }}</h3>
          <h4>{{ page.label }}</h4>

          <ul class="guest-nav">
            {% if page.previous %}
              <li class="guest-nav-link">
                <a href="{{ page.previous.url }}" title="Hear advice from {{ page.previous.title }}. Keyboard shortcut: &larr;" data-previous-guest>
                  <span class="guest-nav-pagination">Previous</span>
                  <p data-previous-guest-name>{{ page.previous.title }}</p>
                </a>
              </li>
            {% endif %}

            {% if page.next %}
              <li class="guest-nav-link">
                <a href="{{ page.next.url }}" title="Hear advice from {{ page.next.title }}. Keyboard shortcut: &rarr;" data-next-guest>
                  <span class="guest-nav-pagination">Next</span>
                  <p data-next-guest-name>{{ page.next.title }}</p>
                </a>
              </li>
            {% endif %}
          </ul>
        </header>

        <article class="guest-presentation">
          <hr data-resizer>

          <div class="guest-video">
            <figure class="guest-video-embed{% if page.aspect-fix %} guest-video-aspect-{{ page.aspect-fix }}{% endif %}">
              <iframe src="https://player.vimeo.com/video/{{ page.vimeo }}?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=5ac10e&amp;autoplay=0&amp;width=612" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </figure>
          </div>

          <aside class="guest-info">
            <h5>{{ page.title }}</h5>
            <div class="guest-info-bio">
              {{ content }}
            </div>

            <h6>Discover more</h6>
            <ul>
              <li class="guest-info-twitter"><a href="http://twitter.com/{{ page.twitter }}" target="_blank">@{{ page.twitter }}</a></li>
              <li class="guest-info-website"><a href="http://{{ page.site }}" target="_blank">{{ page.site }}</a></li>
            </ul>

            {% if page.sponsor %}
              {% for sponsor in site.data.sponsors %}
                {% if page.sponsor == sponsor.name %}
                  <h6>With love from {{ sponsor.name }}</h6>
                  <div class="guest-info-bio">
                    <figure>
                      <img src="/assets/images/sponsors/{{ sponsor.name }}.png">
                    </figure>

                    <p>{{ sponsor.bio }}</p>
                    <p>{{ sponsor.name }} adds, “{{ sponsor.note }}”</p>
                    <p><a href="http://{{ sponsor.url }}" target="_blank">Visit</a> and <a href="http://twitter.com/{{ sponsor.twitter }}" target="_blank">follow</a> {{ sponsor.name }}.</p>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}

            <p class="guest-info-length">This interview lasts <strong>{{ page.time }}</strong></p>
            <p class="guest-info-tweet"><a href="http://twitter.com/share?text=Great%20advice%20shared%20by%20@{{ page.twitter }}%20with%20@migreyes.">Tweet this advice</a> by {{ page.title }}.</p>
          </aside>
        </article>

        <blockquote class="guest-quote">{{ page.quote }}</blockquote>

        <footer class="guest-footer">
          <ul class="guest-nav">
            {% if page.previous %}
              <li class="guest-nav-link">
                <a href="{{ page.previous.url }}">
                  <span class="guest-nav-pagination">Previous</span>
                  <p>{{ page.previous.title }}</p>
                </a>
              </li>
            {% endif %}

            {% if page.next %}
              <li class="guest-nav-link">
                <a href="{{ page.next.url }}">
                  <span class="guest-nav-pagination">Next</span>
                  <p>{{ page.next.title }}</p>
                </a>
              </li>
            {% endif %}
          </ul>
        </footer>

      </section>
    </div>

    {% include footer.html %}
  </body>
</html>