// Footer ———————————————————————————————————— •
// ——————————————————————————————————————————— •

.footer {
  font-size: .8rem;
  line-height: 1.25em;
  margin-bottom: 2rem;
  text-align: center;
  max-width: 960px;
  width: 100%;

  a:hover { color: #333; }
  a:not(.footer-home) { text-decoration: underline; }
}

.footer-home { font-weight: bold; }


// Footer: Tablet ———————————————————————————— •
// ——————————————————————————————————————————— •

@include responsive-break-point(641px) {
  .footer {
    font-size: 1rem;
    margin: 2rem auto;

    a {
      margin: -.5rem;
      padding: .5rem;
    }
  }
}