@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fade-in-up {
  0% { opacity: 0; -webkit-transform: translateY(20px); }
  100% { opacity: 1; -webkit-transform: translateY(0); }
}
@-moz-keyframes fade-in-up {
  0% { opacity: 0; -moz-transform: translateY(20px); }
  100% { opacity: 1; -moz-transform: translateY(0); }
}
@-o-keyframes fade-in-up {
  0% { opacity: 0; -o-transform: translateY(20px); }
  100% { opacity: 1; -o-transform: translateY(0); }
}
@keyframes fade-in-up {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}