{% include head.html %}
  <body class="interview">
    {% include header.html %}

    <div id="content">
      <section id="guest">
        <header id="guest-header">
          <h3>{{ page.title }}</h3>
          <h4>{{ page.label }}</h4>

          <ul class="guest-nav">
            {% if page.previous %}
              <li>
                <a href="{{ page.previous.url }}" title="Hear advice from {{ page.previous.title }}. Keyboard shortcut: &larr;" data-previous-guest>
                  <span class="guest-nav-pagination">Previous</span>
                  <p>{{ page.previous.title }}</p>
                </a>
              </li>
            {% endif %}

            {% if page.next %}
              <li>
                <a href="{{ page.next.url }}" title="Hear advice from {{ page.next.title }}. Keyboard shortcut: &rarr;" data-next-guest>
                  <span class="guest-nav-pagination">Next</span>
                  <p>{{ page.next.title }}</p>
                </a>
              </li>
            {% endif %}
          </ul>
        </header>

        <article id="guest-presentation">
          <hr>

          <div id="guest-video">
            <figure class="embedded-video">
              <iframe src="http://player.vimeo.com/video/{{ page.vimeo }}?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=5ac10e&amp;autoplay=0" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </figure>
          </div>

          <aside id="guest-bio">
            <h5>{{ page.title }}</h5>
            <div class="biography">
              {{ content }}
            </div>

            {% if page.sponsor %}
              <h6>With love from {{ page.sponsor }}</h6>
              <div class="biography">
                {{ page.sponsor-bio }}
              </div>
            {% endif %}

            <h6>Discover more</h6>
            <ul>
              <li class="guest-twitter"><a href="http://twitter.com/{{ page.twitter }}" target="_blank">@{{ page.twitter }}</a></li>
              <li class="guest-website"><a href="http://{{ page.site }}" target="_blank">{{ page.site }}</a></li>
            </ul>

            <p class="video-length">This interview lasts <strong>{{ page.time }}</strong></p>
            <p class="share-on-twitter"><a href="http://twitter.com/share?text=Inspirational%20shared%20by%20@{{ page.twitter }}%20with%20@migreyes." class="twitter-share-button" data-text="Inspirational advice shared by @{{ page.twitter }} with @migreyes on Humble Pied," data-count="horizontal" data-counturl="http://humblepied.com{{ page.id }}" data-related="migreyes:{{ page.twitter }}">Tweet this advice</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></p>
          </aside>
        </article>

        <blockquote id="guest-quote">{{ page.quote }}</blockquote>

        <footer id="guest-footer">
          <ul class="guest-nav">
            {% if page.previous %}
              <li>
                <a href="{{ page.previous.url }}">
                  <span class="guest-nav-pagination">Previous</span>
                  <p>{{ page.previous.title }}</p>
                </a>
              </li>
            {% endif %}

            {% if page.next %}
              <li>
                <a href="{{ page.next.url }}">
                  <span class="guest-nav-pagination">Next</span>
                  <p>{{ page.next.title }}</p>
                </a>
              </li>
            {% endif %}
          </ul>
        </footer>
      </section>
    </div>

    {% include footer.html %}
  </body>
</html>